/*----SELECTOR UNIVERSAL---*/
* {
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
}

/*----***HEADER***---*/

.header {
    display: flex;
    padding: 5px;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.main-header {
    background-color: #EAC926;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.main {
    margin-top: 200px;
}

body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.logo {
    width: 200px;
}
.search {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    position: relative;
    
}

::placeholder {
    font-size: 12px;
}

.fa-search{
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.search-icon {
    position: absolute;
    right: 2px;
    font-size: 15px;
}
.header-icons {
    font-size: 12px;
}
.burger-menu {
    text-align: center;
}
.burger{
    background-color:#03264C;
    color: white;
    padding: 10px;
    border-radius: 5px;
 }
/*----END HEADER---*/
/*----MAIN---*/
.cuotas {
    text-align: center;
    font-size: 12px;
    margin: 10px;
}
nav {
    font-size: 12px;
}
.main-navbar ul {
    list-style: none;
    font-size: 16px;
}
.main-navbar a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 5px 0;
}
section.banner img{
    width: 100%;
}

h2 {
    text-align: center;
    margin-top: 15px;
}
.create-form {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.control-form {
    margin-bottom: 15px;
}
.control-form label {
    margin-bottom: 5px;
    display: block;
    position: relative;
}
.control {
    width: 50vw;
    display: block;
    padding: 5px;
}
.fa-eye-slash {
    position: absolute;
    right: 5px;
    top: 25px;
}
.button {
    padding: 7px;
    margin: 3px;
    background-color: white;
    color: black;
    margin: auto;
    border-radius: 5px;
    border: none;
    transition: all 450ms;
    border: 1px solid black;
}
.button:hover {
    background-color: #0022AA;
    color: white;
    border: none;

}


/*----END MAIN---*/
/*----FOOTER---*/
.pie {
    text-align: center;
    margin: 30px 0px;
    font-size: 12px;
    background-color: white;
    padding: 10px 30px;
}

.footer-icon {
    font-size: 2em;
    margin-left: 10px;
    color:#1259c3;
}

.copyright {
    text-align: left;
    margin: 10px 0px;
    background-color: white;
    font-size: 12px;
}
/*----END FOOTER---*/
/*----MEDIAS---*/
/*----MOBILE----*/
@media (max-width: 480px) { 
    .description {
        display:none;  
    }
    ul {
        display:none;

    }
}
/*----TABLET----*/
@media (min-width: 481px) {
    .product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu {
        display:none;
    } 
    main section article {
        width: 50%;
   }
   .discount {
       display: flex;
       flex-direction: column;
   }
   .control {
    width: 50vw;
    }
}

/*----DESKTOP----*/
@media (min-width: 769px) { 
    .top-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .cuotas {
        max-width: 200px;
        text-align: right;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
     }
    .main-navbar ul {
         display: flex;
         flex-direction: row;
    }
    .main-navbar li {
        margin: 5px 5px 0px;
   }
    main section article {
    width: 24%;
    }
    .control {
        width: 30vw;
    }
    .footer-main {
        display: flex;
        justify-content: space-between;
    }
}
/*----LARGE DESKTOP----*/
@media (min-width: 1200px) {
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .top-header {
        max-width: 1200px;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .main-navbar li {
        margin: 0 10px;
    }
    .left-navbar {
       text-align: left;
    }
    .right-navbar {
       text-align: right;
    }

}


