<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>

    <main class="main">
        <section class="banner">
            <img src="img/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <section class="ultima-visita">
            <h4 class="titulares">Basado en tu última visita</h4>
            <div class="products">
                <article>
                    <div class="product">
                        <a href="/products/:id"><img src="/./img/products/img-cafetera-moulinex.jpg" alt="Cafetera"></a>
                        <div class="caja">
                            <div class="imagen-product">
                                <i class="fas fa-truck"></i> 
                            </div>
                            <div class="price-and-discount">       
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                            </div> 
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article> 
                <article>
                    <div class="product">
                        <a href="/product/:id"><img src="/./img/products/img-macbook-pro-2019.jpg" alt="MacBook"></a>
                        <div class="caja">
                            <div class="imagen-product">
                                <i class="fas fa-truck"></i> 
                            </div> 
                            <div class="price-and-discount"> 
                                <p class="price">$230.000</p>
                                <p class="discount">20% OFF</p>
                            </div>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>      
                <article>
                    <div class="product">
                        <a href="/product/:id"><img src="/./img/products/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"></a>
                        <div class="caja">
                            <div class="imagen-product">
                                <i class="fas fa-truck"></i> 
                            </div> 
                            <div class="price-and-discount"> 
                                <p class="price">70.500</p>
                                <p class="discount">10% OFF</p>
                            </div>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </div>
                </article>   
                <article>
                    <div class="product">
                        <a href="/product/:id"><img src="/./img/products/img-tv-samsung-smart.jpg" alt="SmartTv Samsung"></a>
                        <div class="caja">
                            <div class="imagen-product">
                                <i class="fas fa-truck"></i> 
                            </div> 
                            <div class="price-and-discount"> 
                                <p class="price">$23.200</p>
                                <p class="discount">5% OFF</p>
                            </div> 
                            <h4 class="description">SmartTv Samsung 4</h4>
                        </div>
                    </div>
                </article>  
            </div>  
        </section>  
        <section class="ofertas">
            <h4 class="titulares">Ofertas</h4>
            <div class="products">
                <article>
                    <div class="product">
                        <a href="/product/:id"><img src="/./img/products/img-cafetera-moulinex.jpg" alt="Cafetera"></a>
                        <div class="caja">
                            <div class="imagen-product">
                                <i class="fas fa-truck"></i> 
                            </div>
                            <div class="price-and-discount">  
                                <div class="price">
                                    <p>$6.770</p>
                                </div>  
                                <div class="discount">
                                    <p>40% OFF</p>
                                </div>   
                            </div> 
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article> 
                <article>
                    <div class="product">
                        <a href="/product/:id"><img src="/./img/products/img-macbook-pro-2019.jpg" alt="MacBook"></a>
                        <div class="caja">
                            <div class="imagen-product">
                                <i class="fas fa-truck"></i> 
                            </div> 
                            <div class="price-and-discount"> 
                                <p class="price">$230.000</p>
                                <p class="discount">20% OFF</p>
                            </div>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>      
                <article>
                    <div class="product">
                        <a href="/product/:id"><img src="/./img/products/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"></a>
                        <div class="caja">
                            <div class="imagen-product">
                                <i class="fas fa-truck"></i> 
                            </div> 
                            <div class="price-and-discount"> 
                                <p class="price">70.500</p>
                                <p class="discount">10% OFF</p>
                            </div>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </div>
                </article>   
                <article>
                    <div class="product">
                        <a href="/product/:id"><img src="/./img/products/img-tv-samsung-smart.jpg" alt="SmartTv Samsung"></a>
                        <div class="caja">
                            <div class="imagen-product">
                                <i class="fas fa-truck"></i> 
                            </div> 
                            <div class="price-and-discount"> 
                                <p class="price">$23.200</p>
                                <p class="discount">5% OFF</p>
                            </div> 
                            <h4 class="description">SmartTv Samsung 4</h4>
                        </div>
                    </div>
                </article>  
            </div> 
        </section>
    </main>
<%- include('./partials/footer')%>
</body>
</html>

