<!DOCTYPE html>
<html lang="en">
     <%- include('./partials/head',{title: <%-product.name%>})%> 
<body>
    <%- include('./partials/header')%>
    <main>
        <article>
            <div>
                <h4><</h4>

            </div>
        </article> 
    </main>
    
</body>
</html>