<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/register.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <title>Mercado Liebre</title>
    </head>
<body>
    <%- include('./partials/header')%>

    <main>
        <h2>Formulario de Registro</h2>
        <form action="/registro" method="POST" class="create-form">
        
            <div class="control-form">
                <label for="name">Nombre y apellido: <input type="name" name="name" id="name" class="control"></label>
                
            </div>
            <div class="control-form">
                <label for="username">Nombre de usuari@: <input type="name" name="username" id="username" class="control"></label>
            </div>
            <div class="control-form">
                <label for="date">Fecha de Nacimiento: <input type="date" name="date" id="date" class="control"></label>
            </div>
            <div class="control-form">
                <label for="address">Domicilio: <input type="name" name="address" id="address" class="control"></label>
            </div>
            <div class="control-form">
                <label>Perfil de usuario:</label>
                    <input type="radio" name="perfil" class="control">
                    <input type="radio" name="perfil" class="control">
            </div>
            <div class="control-form">
                <label>Categorías de interés</label>
                <select name="interest-categorys" class="control">
                    <option value="electro">Electro</option>
                    <option value="moda">Moda</option>
                    <option value="hogar">Hogar</option>
                    <option value="jugueteria">Juguetería</option>
                    <option value="vida-sana">Vida sana</option>
                </select>
            </div>
            <div class="control-form">
                <label>Foto de usuario:</label>
                <input placeholder=".jpg, .png">
                <input type="file" name="picture" accept=".jpg, .png" class="control">
            </div>
            <div class="control-form">
                <label for="password">Contraseña: <input type="password" name="password" id="password" class="control"><i class="fas fa-eye-slash"></i></label>
            </div>
            <div class="control-form">
                <label for="repeat-password">Repetir contraseña: <input type="password" name="repeat-password" id="repeat-password" class="control"><i class="fas fa-eye-slash"></i></label>
            </div>
            <div class="buttons">
                <button class="button" type="reset">BORRAR</button>
                <button class="button" type="submit">ENVIAR</button> 
            </div>
        </form>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>
