<footer>
    <ul>
        <section class="copyright">
        <article class="pie">
            <div class="footer-icon"><i class="fas fa-credit-card"></i></div>
            <article><h3>Pagá con tarjeta o en efectivo</h3><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <br>
            <div class="footer-icon"><i class="fas fa-gift"></i></div>
            <article><h3>Envío gratis desde $ 2.500</h3><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p></article>
            <br>
            <div class="footer-icon"><i class="fas fa-user-shield"></i></div>
            <article class=info><h3>Seguridad, de principio a fin</h3><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </article>
        <div><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
    </section>                        
    </ul>
</footer>