<header class="main-header">
    <div class="top-header">
        <div class="header">
            <div class="logo">
                <a href="/"><img src="/img/logo-mercado-liebre.svg"> </a>
            </div>
            <label class="search">
                <input class="fa-search" type="name" placeholder="Buscar productos, marcas">
                <div class="search-icon">
                    <i class="fas fa-search"></i> 
                </div>
            </label>
        </div>
        <div class="cuotas">
            <h2><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</h2>
        </div>
    </div>    
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta <span class="header-icons"><i class="fas fa-address-card"></i></span></a></li>
            <li><a href="/login">Ingresá <span class="header-icons"><i class="fas fa-sign-in-alt"></i></span></a></li> 
            <li><a href="#">Mis compras <span class="header-icons"> <i class="fas fa-shopping-basket"></i></span></a></li>
        </ul>
        <div class="burger-menu">
            <button><i class="fa fa-bars burger"></i></button>
        </div>
    </nav>
</header>